body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: black;
    color: white;
    overflow-x: hidden;
}

/* PANELS */
.panel {
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 10%;
    position: relative;
}

/* BACKGROUNDS */
.hero {
    background: url('https://images.unsplash.com/photo-1530026186672-2cd00ffc50fe') center/cover;
}

.about {
    background: #020617;
}

.experience {
    background: url('https://images.unsplash.com/photo-1581594693702-fbdc51b2763b') center/cover;
}

.contact {
    background: #000;
}

/* DARK OVERLAY */
.panel::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

/* CONTENT */
.content {
    position: relative;
    max-width: 600px;
}

h1 {
    font-size: 4rem;
    letter-spacing: 5px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.block {
    margin-top: 20px;
    border-left: 2px solid #38bdf8;
    padding-left: 10px;
}

/* SCROLL EFFECT */
.panel {
    transform: translateY(50px);
    opacity: 0;
    transition: 1s;
}

.panel.show {
    transform: translateY(0);
    opacity: 1;
}